.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: .5rem;
    height: 5rem;
    font-size: 1.2em;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}