.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: .5rem;
    height: 3rem;
    font-size: 1em;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.brand {
    font-family: 'Rock Salt', cursive;
}