.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: .5rem;
    height: 4rem;
    font-size: 1em;
    background-color: transparent !important;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Baloo 2', cursive;
    font-size: 1.6rem;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.brand {
    font-family: 'Rock Salt', cursive;
    font-size: 2.2rem;
}

/* MEDIAQ */
@media (width <= 990px) {
    .navMenu {
        flex-direction: column;
        margin-top: 6rem;
        background-color: red;
    }
}