.footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footerContainer a {
    color: black;
    size: 3rem !important;
}

.footer {
    height: 5rem;
    margin: 5rem 0 auto;
    font-size: larger;
}