.footerContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    height: 5rem;

}

.footerContainer a {
    color: black;
    size: 3rem !important;
}

.footer {
    /* margin: 5rem 0 auto; */
    font-size: larger;
}

/* MEDIAQ */
@media (width <= 560px) {
    .footerContainer {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 10rem;
    }
}