@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Syne+Mono&display=swap');

.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #c6ebf8;
    backdrop-filter: sepia(60%) blur(5px);
    width: 100% !important;
    height: 50vh;
    margin: 5rem auto;
    box-shadow:rgb(0 0 0 / 58%) -3px 13px 20px 3px;
    border-radius: 20px;
}

.cardTitle {
    margin: 2rem;
    font-family: 'Baloo 2', cursive;
}

.cardCarousel {
    border-radius: 999px;
    width: 50vw;
}

.carousel-inner {
    border-radius: 20px;
    margin-left: 1rem;
}

.cardBody {
    align-items: center;
    width: 50%;
    margin: 1rem;
}

.projectTechs {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    gap: .5rem;
    margin: 2rem
}

.singleTech {
    color: black;
    background-color:rgb(149, 208, 238);
    border-radius: 20px;
    padding: 5px;
}

.cardText {
    font-size: 1.2rem;
    margin: 2rem 1rem auto;
    color:rgb(0, 0, 0);
}

.cardBtn {
    margin: 2rem;
}

.heartbeat {
	animation: heartbeat 1.5s ease-in-out infinite both;
}

/* Animation */
@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

/* PROJECTS MEDIAQUERYS */
@media (width <= 980px) {
    .projects {
        flex-direction: column;
        height: fit-content;
    }

    .cardCarousel {
        width: 90%;
        margin-top: 1.5rem !important;
    }

    .carousel-inner {
        margin-left: 0;
    }

    .cardBody{
        width: 100%;
        margin: 0 1rem;
        padding: 0;
    }
}